#container-config {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
}

#container-config footer {
    position: absolute;
    bottom: 0;
    left: -60px;
}

#container-config h1 {

    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 70px;
    color: var(--primary-500);
}

#container-config p {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #FFFFFF;
}

.cnfg-botoes {
    width: 100%;
    display: flex;
    gap: 100px;
    padding: 0;
}

.cnfg-btn {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--surface-raised);
    margin: 5px 0;
    text-align: center;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #FFFFFF;
}

.cnfg-btn:hover {
    cursor: pointer;
}