#prf-rank-container {
    font-family: 'Questrial', sans-serif;
    position: absolute;
    width: 500px;
    height: 100vh;
    background-color: var(--cinza-escuro3);
    right: 0;
    box-sizing: border-box;
}

.prf-container-rank {
    overflow-y: scroll;
    height: calc(100vh - 45px - 115px);
    background-color: var(--cinza-escuro3);
    overscroll-behavior: contain;
}

.prf-rank-header {
    background-color: var(--roxo1);
    display: flex;
    flex-direction: column;
    height: 115px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 25px 25px;
}

.prf-container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    font-family: "Questrial", sans-serif;
    color: var(--branco);
    font-size: 20px;
    gap: 10px;
}

.prf-pesquisa-usuario {
    background-color: #AD7AD4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}

.prf-pesquisa-usuario input {
    border: 0;
    height: 100%;
    font-size: 16px;
    background-color: #ffffff00;
    width: 100%;
    padding: 0 0 0 10px;
    color: var(--branco);
    font-family: "Questrial", sans-serif;
}

.prf-pesquisa-usuario input:focus {
    outline: 0;
}


.prf-pesquisa-usuario svg {
    margin-right: 10px;
    position: absolute;
    right: 0px;
}

.prf-usuarios-rank {
    background-color: #7E28C0;
}

.prf-usuarios-rank:hover, .prf-usuarios-rank.prf-cor2:hover {
    background-color: var(--branco);
    cursor: pointer;
    color: var(--roxo1);
}

.prf-usuarios-rank, .prf-sticky-user{
    display: flex;
    height: 60px;
    width: 100%;
    color: #fff;
    justify-content: center;
}

.prf-usuarios-rank.prf-cor2 {
    background-color: #6C23A3;
}

.prf-sticky-user .prf-usuarios-rank {
    background-color: #00000000;
}

.prf-container4 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.prf-foto-rank {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
}

.prf-container-rank::-webkit-scrollbar {
    width: 10px;
}

.prf-container-rank::-webkit-scrollbar-track {
    background: #3b393b;
}

.prf-container-rank::-webkit-scrollbar-thumb {
    background-color: var(--roxo1);

}

.prf-container-rank-nao-encontrado {
    background-color: var(--cinza-escuro3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}

.prf-nome-rank {
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
}

.prf-sticky-user {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: var(--branco);
}

.prf-sticky-user .prf-usuarios-rank {
    color: var(--roxo1);
}

.rank-botao-puxar {
    display: none;
    border: none;
    background: none;
    padding: 0;
}

.rank-botao-puxar svg {
    transition: fill 0.2s ease;
}


@media (max-width: 768px) {

    .rank-botao-puxar {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
        background-color: var(--roxo1);
        position: fixed;
        top: 25px;
        right: 25px;
        border-radius: 50%;
        z-index: 10;
    }

    .prf-rank-header {
        padding-top: 100px;
        height: auto;
    }

    .prf-container-rank {
        height: calc(100vh - 189px - 45px);
    }
}

@media (max-width: 425px) {
    #prf-rank-container.rank-mobile-open {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }

    .prf-header-informacoes {
        span {
            font-size: 14px;
        }
    }
}