/* Footer */
footer {
  width: 100%;
  min-height: 60px;
  background-color: var(--cinza-escuro3);
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* padrão desktop */
  justify-content: center;
  align-items: center;
  color: var(--branco);
  font-family: "Inter", sans-serif;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.footer-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Tablet (2x2) */
@media (max-width: 1024px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular (1x4) */
@media (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
  }
}