.menu-barra-lateral {
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--surface-muted);
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  z-index: 2;
  transition: 0.5s;
}

.menu-barra-lateral.claro {
  background-color: var(--primary-500);
}

#menu-principais-icones {
  display: flex;
  flex-direction: column;
}

.menu-icones {
  display: flex;
  align-items: center;
  height: 50px;
}

.menu-icones svg {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  padding-left: 15px;
  fill: var(--primary-500);
}

.menu-icones img {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  border-radius: 20px;
}

.menu-icones span {
  font-family: "Questrial", sans-serif;
  margin-left: 15px;
}

.menu-icones:hover {
  background-color: var(--primary-500);
  cursor: pointer;

  & svg {
    fill: var(--palette-base);
  }

  & span {
    color: var(--palette-base);
  }
}

.menu-icones.active {
  background-color: var(--primary-500);
}

.menu-icones.active svg {
  fill: var(--palette-base);
}

.menu-icones.active span {
  color: var(--palette-base);
}

#imgperfil_menu {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.menu-icones.claro svg {
  fill: var(--primary-500);
}

.menu-icones.claro span {
  color: var(--text-primary);
}

.menu-icones.claro:hover {
  background-color: var(--text-primary);
  cursor: pointer;
}

.menu-icones.claro:hover svg {
  fill: var(--primary-500);
}

.menu-icones.claro:hover span {
  color: var(--primary-500);
}

.menu-icones.claro.active {
  background-color: var(--text-primary);
}

.menu-icones.claro.active svg {
  fill: var(--primary-500);
}

.menu-icones.claro.active span {
  color: var(--primary-500);
}

.menu-icones span {
  color: var(--primary-500);
}

@media screen and (max-width: 425px) {
  .menu-barra-lateral {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-barra-lateral {
    width: 150px;
    font-size: 14px;
  }

  .menu-icones span {
    margin-left: 5px;
  }

  .menu-icones svg {
    padding-left: 10px;
  }
}