.banner {
    width: 100%;
    position: relative;
    height: 500px;
    background-image: url("/img/background-padrao2.jpg" );
    background-size: cover;
}

.bnn-filtro {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000,  #00000000);
    display: flex;
    justify-content: center;
}

.bnn-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.bnn-subtitulo {
    font-family: "Archivo Black", sans-serif;
    color: var(--branco);
    line-height: 0;
    font-size: 24px;
}

.bnn-titulo {
    font-family: "Archivo Black", sans-serif;
    color: var(--roxo1);
    font-size: 120px;
    line-height: 0.8;
    position: relative;
    left: -8px;
}

.bnn-descricao {
    font-family: "Questrial", sans-serif;
    color: var(--branco);
    width: 500px;
    font-size: 16px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .banner {
        height: 450px;
    }

    .bnn-titulo {
        font-size: 100px;
    }

    .bnn-descricao {
        width: 100%;
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 400px;
    }

    .bnn-titulo {
        font-size: 80px;
    }

    .bnn-descricao {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 300px;
    }

    .bnn-subtitulo {
        font-size: 18px;
    }

    .bnn-titulo {
        font-size: 60px;
        left: 0;
    }

    .bnn-descricao {
        font-size: 14px;
        width: 100%;
        max-width: 300px;
    }

    .bnn-container {
        gap: 15px;
    }
}